* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
}

/* Navbar */
#navbar {
  display: flex;
  align-items: center;
  padding: 6px;
  height: 8%;
}

.nav-link {
  color: black;
  margin: 8px 10px;
  text-decoration: none;
}

#navbar > .nav-link:first-of-type {
  margin-left: 15px;
}

.nav-link:hover {
  text-decoration: underline;
}

#google-suite-container {
  display: inline-block;
  flex-grow: 1;
}

#google-suite-links {
  display: flex;
  flex-direction: row;
  float: right;
  align-items: center;
  font-size: 13px;
}

#google-suite-menu {
  width: 21px;
  height: auto;
}

#google-account-icon {
  width: 32px;
  height: auto;
}

/* Main */
main {
  height: 80.5%;
}

#logo-container {
  height: 40%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

#logo {
  width: 272px;
  height: auto;
}

#search {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#search-box {
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 45vw;
  max-width: 584px;
  padding: 3px 5px;
}

#search-box:hover,
#search-box:active {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}

#search-query {
  width: 100%;
  height: 34px;
  border: none;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.search-box-icons {
  position: relative;
  width: 20px;
  height: auto;
  margin: 10px;
}

#submit-container {
  padding-top: 18px;
}

input[type='submit'] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  margin: 11px 4px;
  padding: 0px 16px;
  height: 36px;
  font-size: 14px;
}

input[type='submit']:hover {
  box-shadow: 0px 1px lightgrey;
  border: solid 1px lightgrey;
}

/* Footer */
footer {
  background-color: #f2f2f2;
  height: 11.5%;
}

footer .nav-link {
  color: rgba(0, 0, 0, 0.54);
  padding: 15px;
  margin: 0px;
}

#carbon-neutral-icon {
  height: 14px;
  margin-right: 6px;
}

#region {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
}

#region > p {
  margin: 0px;
}

#footer-links {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

#footer-links > div {
  display: flex;
  min-width: 30%;
}

#footer-links-left {
  justify-content: flex-start;
}

#footer-links-center {
  justify-content: center;
}

#footer-links-right {
  justify-content: flex-end;
}
